@font-face {
  font-family: "Gorillaz";
  font-display: swap;
  src: local("Custom Font"),
    url("../assets/fonts/gorillaz_1.woff2") format("woff2"),
    url("../assets/fonts/gorillaz_1.woff") format("woff"),
    url("../assets/fonts/gorillaz_1.otf") format("opentype");
}

// To make sure the text stays black after clicking:
* {
  box-sizing: border-box;
  color: black;
}

// Colour variants:
$colour1: #ffbbbb;
$colour2: #c9cdff;

// Header Logo Styling (section > wrapper > img)

.logo-section {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo-wrapper {
  border: 7px solid black;
  box-shadow: 0px 0px 8px #000000;
  margin: 15px;
  background: radial-gradient($colour1, $colour2)
}

.logo-wrapper img {
  width: 280px;
  margin: 0px 7px;
}



// Enter Button Styling (section > wrapper > div with text in)

.enter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.enter-wrapper {
  border: 7px solid black;
  box-shadow: 0px 0px 8px #000000;
  background: radial-gradient($colour2, $colour1);

  display: flex;
  justify-content: center;
  text-align: center;

  margin: 15px;
  height: 120px;
}

.enter {
  font-size: 75px;
  font-family: 'Gorillaz';
  padding: 5px;
  margin: 0px 7px;
}